.title.send-to-back{
    z-index: -1;
}

.main-title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: var(--white);
  text-align: center;
}

.title.fade-in {
  animation: fadeIn 1.5s;
}

.title.fade-out{
  animation: fadeOut 0.3s;
}

:root {
  --x: 50%;
  --y: 50%;
  --color: transparent;
}

.text-gradient,
.fixed-text {
  position: absolute;
  font-size: 9em;
  color: var(--black);
  background: var(--grey);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: transparent 2px;
  cursor: default;
  font-weight: 700;
  letter-spacing: 0.15em;
  scale: 1 1.2;
  min-height: 50%;
  width: 100%;
}

.fixed-text {
  z-index: -1;
}

.text-gradient {
  background: radial-gradient(
    circle at var(--x) var(--y),
    var(--color),
    transparent 20%
  );
  background-clip: text;
}

.title > h2 {
  text-align: center;
  font-size: 3em;
  color: var(--purple);
  margin: 70px 0 200px 0;
  filter: blur(0.012em);
  cursor: default;
}

@media (max-width: 1100px) {
  .main-title {
    height: 480px;
    width: 90%;
    margin: auto;
  }

  .text-gradient,
  .fixed-text {
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-top: -90px;
  }

  .title > h2 {
    margin: 0 0 100px 0;
  }
}

@media (max-width: 680px) {
    .main-title{
        height: 30vh;
    }
    .text-gradient,
    .fixed-text {
        letter-spacing: .03em;
        line-height: 1.1em;
        font-size: 5em;
    }

    .title > h2{
        font-size: 2em;
    }
}