.carousel-container {
  overflow: hidden;
  width: 100%;
  height: 30svh;
  opacity: 0;

  &.fade-in {
    animation: fadeIn 2s forwards;
  }

  & > .carousel {
    display: flex;
    gap: 3em;
    width: 100%;
    height: 100%;
    align-items: center;

    & > img {
      height: 50%;
      width: auto;
      object-fit: contain;
      filter: brightness(90%);

      &:nth-child(even) {
        transform: rotate(15deg);
      }

      &:nth-child(odd) {
        transform: rotate(-15deg);
      }
    }
  }
}
