.contact-info {
  border: 2px solid var(--white);
  border-radius: 16px;
  width: max(20%, 300px);
  margin: 85px auto 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 20px;
  opacity: 0;

  &.appear{
    animation: appear 1s forwards;
    animation-delay: .6s;
  }

  & > div {
    display: flex;
    justify-content: space-between;

    & > svg {
      fill: var(--white);
      width: 1.5em;
      height: 1.5em;
    }

    & > p {
      color: var(--white);
    }

    &:nth-child(1) {
      & > p {
        font-size: 1.15em;
      }
    }
  }
}
