.work-section{
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > .example{
        margin-top: 50px;
        height: 100vh;
        border: 1px solid white;

        &.put-closer{
            margin-top: 20px;
            transition: 1s;
        }
    }
}
