/* RESET CSS */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Playfair Display', serif;
  --purple: #2a1364;
  --black: #000000;
  --light-purple: #776a97;
  --white: #e1e5ef;
  --grey: rgb(115, 115, 115);
  --light-grey: #d1d3e2;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);
}
