:root {
  font-family: 'Playfair Display', serif;
  --purple: #2a1364;
  --black: #000000;
  --light-purple: #776a97;
  --white: #e1e5ef;
  --grey: rgb(115, 115, 115);
  --light-grey: #d1d3e2;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black);

  & > #root > .app > .background-decoration {
    position: fixed;
    top: -190px;
    left: -200px;
    width: 540px;
    height: 520px;
    background: radial-gradient(
      ellipse closest-corner at 50% 42%,
      var(--purple) 0%,
      transparent 50%
    );
  }
}

@media (max-width: 680px) {
  body {
    & > #root > .app > .background-decoration {
      overflow: visible;
      top: -70px;
      left: -250px;
      width: 500px;
      height: 200px;
      background: radial-gradient(
        ellipse closest-corner at 50% 42%,
        var(--purple) 0%,
        transparent 30%
      );
    }
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
